/* desktop:1920 */
/* laptop:1366 */
/* mobile:600 */
*{
    margin:0;
    padding:0;
}
.nav-font{
    text-align: left;
    font-size: 18px;
    font-family:"Montserrat-Medium";
    letter-spacing: -0.38px;
    color: #ffffff;
    opacity: 1;
    padding-right: 45px;
    margin-top: 34px ;
}
.logo-font{
    margin-top: 31px;
    text-align: right;
    vertical-align: middle;
    font-size: 24px;
    font-family:"Montserrat-Bold";
    letter-spacing: -0.5px;
    color: #575757;
    opacity: 1;
}
.header-font{
    text-align: left;
    font-size: 64px;
    font-family: "Montserrat-Bold";
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.about-header-font{
    text-align: left;
    font-size: 45px;
    font-family: "Montserrat-Bold";
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.header-font2{
    text-align: left;
    font-size: 50px;
    font-family: "Montserrat-Bold";
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.slider{
    background: transparent linear-gradient(219deg, #189AFE 0%, #2D62FC 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    top: 0px;
    left: 556px;
    width: 811px;
}
.slider-prop{
    padding-top: 249px;
    padding-bottom: 181px;
}
.slider-content-font{
    text-align: left !important;
    font-size:18px !important;
    font-family: "Montserrat-Regular" !important;
    letter-spacing: 0px !important;
    color: #000000 !important;
    opacity: 0.8 !important; 
}

.slider-aboutContent-font{
    text-align: left;
    font-size:18px !important;
    font-family: "Montserrat-Regular" !important;
    letter-spacing: -0.38px;
    color: #000000;
    opacity: 0.7;
}
.slider-btn{
    text-align: left;
    font-size: 20px;
    font-family: "Montserrat-Medium";
    letter-spacing: 0px;
    color: #000000 !important;
    opacity: 1;
}
.arrow{
    /* background: #189AFE 0% 0% no-repeat padding-box; */
    border: 1px solid #189AFE;
    opacity: 1;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px; 
}
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.arrow-down{
   height:auto;
   width: 100%;
   max-height: 10px;
   max-width: 15px;
   margin-top: 10px;
   margin-left: 21px;
    
}
.macbook{
    /* top: 255px;
    left: 1023px;
    width: 445px;
    height: 292px;
    background: transparent url('img/3763090.png') 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1; */
}
.bambo{
    top: 252px;
    left: 983px;
    width: 524px;
    height: 319px;
    background: transparent url('./vippng.com-bamboo-tree-png-1083369.png') 0% 0% no-repeat padding-box;
    box-shadow: -10px 10px 30px #00000029;
    opacity: 1;
}
.plant{
top: 1084px;
left: 583px;
width: 153px;
height: 153px;
background: transparent url('/netclipart.com-flower-pot-clipart-331427.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.img-prop{
    width: 100%;
    height:auto ;
    max-width: 644px;
}
.home-content-prop{
    padding-left: 100px;
   
}
.plans-card{
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-right: 58px;
    max-width: 248px;
    max-height: 347px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #B9B9B96B;
    border-radius: 20px;
    opacity: 1;
    position: relative;
}
.card-title-font{
    padding-left: 25px;
    padding-top: 25px;
    text-align: left;
    font-size: 25px;
    font: "Montserrat-Medium";
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.card-title-font2{
    padding-left: 5px;
    padding-top:35px;
    text-align: left;
    font-size:16px;
    font-family:"Montserrat-Regular" ;
    letter-spacing: 0px;
    color: #00000080;
}
.card-subtitle-font{
    padding-left: 25px;
    padding-top: 20px;
    text-align: left;
    font-size: 20px;
    font: "Montserrat-Medium";
    letter-spacing: 0px;
    color: #575757;
    opacity: 1;
}
.card-options{
    padding-left: 5px;
    text-align: left;
    font-size: 16px ;
    font: "Montserrat-Regular";
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.7;
    vertical-align: middle;
}
.card-btn{
    margin-left: 17px;
    margin-top: -19px;
    background: #2D62FC 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #2D62FC4D;
    border-radius: 10px;
    opacity: 1;
    width: 100%;
    height: auto;
    max-width: 214px;
    max-height: 38px;
    position: absolute;
   
   
}
.card-btn-font{
    padding-left: 58px;
    padding-right: 57px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat-Regular";
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.card-rot-text{
        margin-left: 184px;
        position: absolute;
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        color:#e8f5ff;
        letter-spacing: 0.25px;
        font-family: "Montserrat-Bold";
        font-size:50px;
        
}
.card-header-font{
    text-align: center;
    font-size: 4.167vw;
    font-family: "Montserrat-Bold";
    /* color: #189AFE; */
    background: -webkit-linear-gradient(#189AFE, #2D62FC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-custom{
    background-color: #575757;
    height: 324px !important;
    max-width: 100% !important;
    height: auto !important;

}
.footer-title-font{
    text-align: left;
    font-size: 20px;
    padding-bottom: 20px;
    font-family: "Montserrat-Medium";
    letter-spacing: -0.42px;
    color: #FFFFFF;
    opacity: 1;
}
.footer-content-font{
    text-align: left;
    font-size: 18px;
    font-family: "Montserrat-Regular";
    letter-spacing: -0.38px;
    color: #FFFFFF;
    opacity: 0.7;
}
.footer-copyRights-font{
    text-align: left;
    letter-spacing: -0.42px;
    color: #FFFFFF;
    opacity: 0.7;
    padding-left: 10px;
    padding-top: 60px;
    font-size: 20px;
    font-family: "Montserrat-Regular";
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.img-res{
    max-width: 100% !important;
    height: auto !important;
}
.footer-logo-font{
    text-align: left;
    padding-top: 45px;
    vertical-align: middle;
    font-size: 35px;
    font-family:"Montserrat-Bold" ;
    letter-spacing: -0.73px;
    margin-right: 10px;
    padding-left: 10px;
    color: #FFFFFF;
    opacity: 1;
}
.language-box{
    background-color: #575757;
    max-width: 100%;
    max-height: auto;
    width: 121px;
    height: 38px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    opacity: 1;
}
.lang-text{
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    font-family: "Montserrat-Regular";
    letter-spacing: -0.38px;
    color: #FFFFFF;
    opacity: 1;
}
.login-title{
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat-Bold";
    letter-spacing: -0.63px;
    color: #000000;
    opacity: 1;
    margin-bottom: 41px;
}
.login-textbox{
    
    background-position: left;
    max-width: 400px;
    max-height: 58px;
    width: 100%;
    height: 100px;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #57575726;
    border-radius: 5px;
    opacity: 1;
    /* border-color: #2D62FC; */
}
.login-btn{
    max-width: 400px;
    max-height: 58px;
    width: 100%;
    height: 58px;
    background: #2D62FC 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #2D62FC1A;
    border-radius: 5px;
    opacity: 1;
}
.send-btn{
    max-width: 100px;
    max-height: 38px;
    width: 100%;
    height: auto;
    background: #2D62FC 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #2D62FC1A;
    border-radius: 20px;
    opacity: 1;
}
.forget-pass-font{
    text-align: left;
    font-size: 14px;
    padding-left: 5px;
    font-family: "Montserrat-Regular";
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
   

    
}
.join-font{
    text-align: left;
    font-size: 14px;
    padding-left: 5px;
    font-family: "Montserrat-Regular";
    letter-spacing: 0px;
    color: #000000B3;    
}
.logWith{
    
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat-Medium";
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.with-cont{
    width: 32px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #189AFE4D;
    border-radius: 5px;
    opacity: 1;
}
.comments-font{
    text-align: left;
    font-size: 18px;
    font-family: "Montserrat-Medium";
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.6;
}
.about-list-font{
    text-align: left;
    font-size: 18px;
    font-family: "Montserrat-Medium";
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.textbox-font{
    text-align: center;
    font-size: 1.302vw;
    font-family: "Montserrat-Medium";
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.icon-img {
    background-image: url('./envelope.png');
    /* position: cen; */
    padding-left: 100px;
    background-size: 25px;
}
.slider-bg-img{
    background-image:  url('./Path 9@2x.png');
    width: 100%;
    background-position: 50% 50%;
    height: auto;
    background-size: cover;
    position: absolute;
}
.about-content-font{
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat-Regular";
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.8;
}
.about-box-container{
    text-align: center;
    width: 67px;
    height: 67px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #189AFE33;
    border-radius: 10px;
    opacity: 1;
    top: 0;
    position: relative;
    transition: top ease 0.5s;
   
}
.about-box-container:hover{
    top: -10px;
    
}
.img-res-icon{
    max-width:64px !important;
    height: auto !important;
    max-height: 64px;
    width: 100%;
}
.profile-pic-font{
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat-Medium";
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.profile-pic-light-font{
    text-align: center;
    font-size:16px;
    font-family: "Montserrat-Light";
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.bg-color-about{
    background-color:#f4f7ff;
    background: linear-gradient(to bottom, #f4f7ff 80%, white 20%); 

}
.register-now-font{
    text-align: left;
    font-size: 1.302vw;
    font-family:"Montserrat-Medium";
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.home-bg-img{
    background-image: url('./home-bg4.png');
    /* background-size: 290px 394px; */
    padding:0px !important;
    position: relative;
    background-repeat: no-repeat;
    background-position: right top;
   
}
.phone-bg-img{
    background-image: url('./iphone x 1@2x.png');
    /* background-size: 290px 394px; */
    padding:0px !important;
    background-repeat: no-repeat;
    background-position: right top;
   
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
.form-control:focus {
    max-width: 400px;
    max-height: 58px;
    width: 100%;
    height:100px;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #57575726;
    border-radius: 5px;
    opacity: 1;
    outline: none;
    /* box-shadow: 0 0 5px rgba(81, 203, 238, 1); */
    border: 1px solid #2D62FC;
  }
  .form-control:valid {
    max-width: 400px;
    max-height: 58px;
    width: 100%;
    height:100px;
    background: #F8F8F8 0% 0% no-repeat padding-box;;
    box-shadow: 0px 0px 15px #57575726;
    border-radius: 5px;
    opacity: 1;
  }

  .send-form-control:valid {
    max-width: 475px;
    max-height: 68px;
    width: 100%;
    height:100px;
    box-shadow: 0px 0px 10px #189AFE1A;
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    border: 0px none;
   
   
  }

  .send-form-control:focus {
    max-width: 475px;
    max-height: 68px;
    width: 100%;
    height:100px;
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    outline: none;
    box-shadow: 1px solid #2D62FC;
    border: 1px solid rgba(81, 203, 238, 1);
  }
  
  

  /* .form-control2  {
    max-width: 600px;
    max-height: 121px;
    width: 100%;
    height:auto;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #57575726;
    border-radius: 5px;
    opacity: 1;

  } */
  .form-control2:valid  {
    max-width: 475px;
    max-height: 121px;
    width: 100%;
    height:auto;
    background:#FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #189AFE1A;
    border-radius: 10px;
    opacity: 1;
    border: 0px none;
   
  }
  .form-control2:focus  {
    max-width:475px !important;
    max-height: 121px;
    width: 100%;
    height:100px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #189AFE1A;
    border-radius: 10px;
    opacity: 1;
    outline: none;
    border: 1px solid rgba(81, 203, 238, 1);
  }
  input{
    text-indent: 30px;
  }

  .map-input{ position: relative; width:450px; height: 121px;}
  .map-input input { border:none; background-color:#fff; display:block; width: 100%; box-sizing: border-box }


  .fake-input { position: relative; width:400px; }
  .fake-input input { border:none; background-color:#fff; display:block;  box-sizing: border-box }
.fake-input img { position: absolute; top: 22px; left: 15px }




.map-bg-img{
  height: 487px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
  position: relative;
    background-image: linear-gradient(to right, transparent 50%,#FFFFFF00 25%, #FFFFFFE6 25%),url('./map.png') ;
     filter: blur(0.5px);
  -webkit-filter: blur(0.5px);
}

.svg{
    position: absolute;
}
.send-btn{
    box-shadow: 0px 0px 15px #2D62FC1A;
    border-radius: 10px;
    background: #2D62FC 0% 0% no-repeat padding-box;
    opacity: 1;
}

 
.avatar-bg{
    /* background-image: url('./Avatar\ background.svg');
    background-position: center;
    background-repeat: no-repeat; */
    fill: #f5f7ff;
    transition:  2s;
}
.avatar-bg:hover{
   
    fill: #189afe;
   
}
.parent {
    position: relative;
    
  }
  .image1 {
    position: relative;
   
    
  }
  .image2 {
    position: absolute;
   
  
  }

.chat-box{
    background-image: url('./Path\ 9.svg');
    background-size: 78px 300px;
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 78px;
    width: 100px;
    border-width: 5px;
    
}
.bot-font{
    position: absolute;
    bottom: 30px;
    right: 0;
    color: '#00000099';
    margin-left: 35px;
    margin-right: 30px;
    margin-bottom: 5px;
    text-align: left;
    font-family:"Montserrat-Light";
    letter-spacing: -0.29px;
    opacity: 1;
    font-size: 14px;  
}

p{
    margin:0px !important;
    
}
/* div{
    padding: 0px !important;
} */
.bullet{
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.2;
    border-radius: 5px;
    color:'#000000';
    width: 10px;
    height: 10px;
}

.chatbot-bg{
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #2D62FC1A;
    opacity: 1;
}
.placeholder-text{
    text-align: left;
    font-family:"Montserrat-Regular";
    font-size: 17px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.45;
}
.login-btn-font{
    text-align: center;
    font-family:"Montserrat-Medium";
    font-size: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

hr{
    border-width: 1px;
    width:25px;
    text-align:left;
    margin-left:0;
    margin-bottom:10px;
    background-color: white;
    border-width: 2px;
  }

.btn-transitions{
    right: 0;
    position: relative;
    transition: top ease 0.5s;
}

.btn-transitions:hover{
    right: -10px;
    
}

.phone-img{
padding-left:400px ;
}

@media (max-width: 600px){
    .header-font{
        font-size: 34px;  
    }
    .header-font2{
        font-size: 24px;  
    }
    
    .nav-font{
        font-size: 15px;  
    }
    .about-header-font{
        font-size: 35px;
    }
    .home-content-prop{
        padding-left: 50px;
    }
    .phone-img{
        padding-left: 0px;
    }
    
  }
  
  @media screen and (min-width: 1366) {
    .header-font2,
    .header-font{
        font-size:74px;  
    }

    .phone-img{
        padding-left:'600px';
    }
  }
 

@media screen  and  (min-width:1500px){
    .phone-img{
        padding-left:'600px';
    }
}